In [129]:
import pandas as pd
import numpy as np
x=np.random.rand(3,4).round(2)
df = pd.DataFrame(x, columns=['a','b','c','d'])
df

      a     b     c     d
0  0.57  0.43  0.37  0.65
1  0.36  0.67  0.56  0.92
2  0.85  0.34  0.74  0.14

## 결측치 처리

In [130]:
df.loc[1]['b']=np.nan

In [131]:
df

      a     b     c     d
0  0.57  0.43  0.37  0.65
1  0.36   NaN  0.56  0.92
2  0.85  0.34  0.74  0.14

In [132]:
df.isnull()

       a      b      c      d
0  False  False  False  False
1  False   True  False  False
2  False  False  False  False

In [133]:
# 행 삭제하기
cleaned = df.dropna(); cleaned

      a     b     c     d
0  0.57  0.43  0.37  0.65
2  0.85  0.34  0.74  0.14

In [134]:
# 평균값넣기
df[df.isnull()] = df.mean(0)['b'] ; df

      a      b     c     d
0  0.57  0.430  0.37  0.65
1  0.36  0.385  0.56  0.92
2  0.85  0.340  0.74  0.14

In [135]:
df.loc[1]['b']=np.nan; df

      a     b     c     d
0  0.57  0.43  0.37  0.65
1  0.36   NaN  0.56  0.92
2  0.85  0.34  0.74  0.14

In [136]:
df.fillna(method='ffill')

      a     b     c     d
0  0.57  0.43  0.37  0.65
1  0.36  0.43  0.56  0.92
2  0.85  0.34  0.74  0.14